<!DOCTYPE html>
<html style="height: 100%">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
	<meta name="description" content="{{ .meta }}">
	<link rel="shortcut icon" type="image" href="/assets/favicon.png">
	<link href="//lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/highlight.js/9.12.0/styles/tomorrow.min.css" type="text/css"
		rel="stylesheet" />
	<link href="/assets/icons/style.css" type="text/css" rel="stylesheet" />
	<title> {{ .title }} </title>
</head>

<style>
	* {
		font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	}

	code,
	code * {
		font-family: Monaco, MonacoRegular, "Courier New", monospace !important;
	}
</style>

<body style="margin: 0; height: 100%">
	{{ .body }}

	<script src="//lf26-cdn-tos.bytecdntp.com/cdn/expire-1-y/jquery/3.3.1/jquery.min.js"
		type="application/javascript"></script>
	<script>
		var $toTop = $('#back-to-top');
		$toTop.click(() => {
			$('html').animate({ scrollTop: 0 });
		});

		$(window).scroll(() => {
			if ($('html').scrollTop() > 10) {
				$toTop.show(400);
			} else {
				$toTop.hide(400);
			}
		});
	</script>

	<script>
		(function () { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = '//xhu.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
			Disqus.</a></noscript>

	<script src="//lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/highlight.js/9.12.0/highlight.min.js"
		type="application/javascript"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</body>

</html>