<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
	<meta name="description" content="{{ .meta }}">
	<title> {{ .title }} </title>
</head>

<style>

* {
	font-family: sans-serif;
}

</style>

<body style="margin:0">
	{{ .body }}
</body>

</html>