
hr {
  border: 0;
  color: #ddd;
  background-color: #ddd;
  height: 2px;
  margin: 9px 0 9px 0;
}

p {
  margin: 0 0 25px 0;
}

p * {
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

p, li {
  letter-spacing: .8px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  position: relative;
  font-size: 15px;
  line-height: 2;
  color: #555;
}

blockquote {
  padding: 15px 0 15px 15px;
  margin: 0 0 18px;
  border-left: 5px solid #D1D0CE;
  line-height: 28px;
  font-weight: normal;
  font-size: 15px;
  font-style: italic;
  color: #696969;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 15px;
  font-weight: 500;
  color: #646464;
}


/* for code area in post */

p code, li > code {
  display: inline;
  word-wrap: break-word;
  background: #fff;
  font-size: .8em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 .3em;
  margin: -1px 5px 0 5px;
}

code {
  font-family: "Monaco", "MonacoRegular", "Courier New", monospace !important;
}

code span {
  white-space: nowrap;
}

pre code {
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 12px;
  letter-spacing: .5px;
  margin: 0 0 20px 0;
  padding: 15px !important;
  background-color: #f7f7f7 !important;
}

pre code:text {
  color: #000
}