.snippet-container, .starter-container, .paginate-container {
  vertical-align: top;
  display: inline-block;
  width: 49%;
  padding: 3% 5% 3% 6%;
  overflow: hidden;
}

.starter-container {
  padding: 10% 0 0 0;
  text-align: center;
  font-size: 38px;
  color: #555;
}

.paginate-container {
  padding: 5% 0 0 0;
  font-size: 38px;
}

.paginate-prev, .paginate-next {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 48%;
  height: 80%;
  margin: 0;
}

.paginate-prev i, .paginate-next i {
  position: absolute;
}

.snippet-header {
  color: #666;
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 10px 0;
  cursor: pointer;
}

.snippet-divider {
  width: 20%;
}

.snippet-content {
  margin: 10px 0 35px 0;
}

.snippet-content * {
  color: #999;
  font-size: 16px;
  line-height: 30px;
}

.snippet-footer > div {
  display: inline-block;
}

.snippet-footer * {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  opacity: 0.9;
}

.tags * {
  color: #348EB7;
  cursor: pointer;
}

.tag-divider {
  vertical-align: top;
  margin: 8px 0 0 0;
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #348EB7;
}

.date {
  color: #DEA3A2;
  margin: 0 0 15px 0;
  float: right;
}

.snippet-arrow {
  animation: blink 1.2s infinite linear;
  -moz-animation: blink 1.2s infinite linear;	/* Firefox */
  -webkit-animation: blink 1.2s infinite linear;	/* Safari 和 Chrome */
  -o-animation: blink 1.2s infinite linear;	/* Opera */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink /* Firefox */{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink /* Safari 和 Chrome */{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes blink /* Opera */{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
