html, body {
  background-color: #3E4850;
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

a:hover {
  color: #3B94C0;
}

.header {
  height: 160px;
  width: 100%;
  padding: 50px 0 0 0;
  margin: 0 0 0px 0;
  text-align: center;
  overflow: hidden;
}

.starter-container {
  margin: 0 0 21px 0;
  text-align: center;
  font-size: 27px;
  color: #CC5A7B;
}

.links a {
  vertical-align: top;
  font-size: 18px;
  color: #aaa;
  margin: 0 0 0 25px;
}

.links a:hover {
  color: #666;
}

#btc-container {
  position: fixed;
  right: -20px;
  bottom: 70px;
}

#back-to-top {
  display: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-indent: 100%;
  margin: 0 0 0 -3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background: rgba(87, 218, 178, 0.8) url(/assets/images/cd-top-arrow.svg) no-repeat center 50%;
}

#back-to-top:hover {
  background: rgba(87, 218, 178, 0.6) url(/assets/images/cd-top-arrow.svg) no-repeat center 50%;
}

.footer {
  background-color: #FFFEEC;
  height: 80px;
  padding: 22px 0 0 0;
  text-align: center;
  color: #444444;
}

.footer * {
  opacity: 0.8;
  font-family: 'Lato', sans-serif;
}

.snippet-arrow {
  animation: blink 1.2s infinite linear;
  -moz-animation: blink 1.2s infinite linear;
  /* Firefox */
  -webkit-animation: blink 1.2s infinite linear;
  /* Safari 和 Chrome */
  -o-animation: blink 1.2s infinite linear;
  /* Opera */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}