.post-container {
  padding: 0 22% 30px 22%;
}

.post-header {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  animation: postHeader .7s forwards;
  ;
}

.post-content {
  animation: postContent 1.3s forwards;
}

.tag-in-divider a {
  color: #A3717F;
}

#btc-container {
  width: 40px;
  right: 277px;
  overflow: hidden;
}

iframe#wangyi-player {
  border-radius: 5px;
  position: fixed;
  bottom: 58px;
  animation: player 2s forwards;
  z-index: 999;
}

@keyframes postHeader {
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@-moz-keyframes postHeader
/* Firefox */

{
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@-webkit-keyframes postHeader
/* Safari 和 Chrome */

{
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@-o-keyframes postHeader
/* Opera */

{
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@keyframes postContent {
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  50% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@-moz-keyframes postContent
/* Firefox */

{
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  50% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@-webkit-keyframes postContent
/* Safari 和 Chrome */

{
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  50% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@-o-keyframes postContent
/* Opera */

{
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  50% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}


@keyframes player {
  0% {
    right: 100px;
    opacity: 0;
  }
  40% {
    right: 100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@-moz-keyframes player
/* Firefox */

{
  0% {
    right: 100px;
    opacity: 0;
  }
  40% {
    right: 100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes player
/* Safari 和 Chrome */

{
  0% {
    right: 100px;
    opacity: 0;
  }
  40% {
    right: 100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@-o-keyframes player
/* Opera */

{
  0% {
    right: 100px;
    opacity: 0;
  }
  40% {
    right: 100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}