.post-container {
  padding: 30px 9% 30px 9%;
}

.post-header {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  animation: postHeader .7s forwards;
  ;
}

.post-content {
  animation: postContent 1.3s forwards;
}

.tag-in-divider a {
  color: #A3717F;
}

iframe#wangyi-player {
  border-radius: 5px;
  position: fixed;
  bottom: 58px;
  animation: player 2s forwards;
  z-index: 999;
}

table {
  font-size: 13px;
  background: #fff;
  margin: 15px 0 30px 0;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

table th {
  font-size: 14px;
  font-weight: normal;
  color: #444;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
}

table td {
  border-bottom: 1px solid #ccc;
  color: #666;
  padding: 10px 8px;
}

table tbody tr:hover td {
  color: #67799F;
}

@keyframes postHeader {
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@-moz-keyframes postHeader {
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@-webkit-keyframes postHeader {
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@-o-keyframes postHeader {
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@keyframes postContent {
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  50% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@-moz-keyframes postContent {
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  50% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@-webkit-keyframes postContent {
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  50% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@-o-keyframes postContent {
  0% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  50% {
    margin: -40px 0 30px 0;
    opacity: 0;
  }
  100% {
    margin: 0 0 30px 0;
    opacity: 1;
  }
}

@keyframes player {
  0% {
    right: 100px;
    opacity: 0;
  }
  40% {
    right: 100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@-moz-keyframes player {
  0% {
    right: 100px;
    opacity: 0;
  }
  40% {
    right: 100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes player {
  0% {
    right: 100px;
    opacity: 0;
  }
  40% {
    right: 100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@-o-keyframes player {
  0% {
    right: 100px;
    opacity: 0;
  }
  40% {
    right: 100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}