.profile-container {
  padding: 25% 0 0 0;
}
.starter-container {
  margin: 0 0 21px 0;
  text-align: center;
  font-size: 27px;
  color: #CC5A7B;
}

.profile-arrow {
  animation: blink 1.2s infinite linear;
  -moz-animation: blink 1.2s infinite linear;
  /* Firefox */
  -webkit-animation: blink 1.2s infinite linear;
  /* Safari 和 Chrome */
  -o-animation: blink 1.2s infinite linear;
  /* Opera */
}

.profile-link-container {
  background-color: #4F64AA;
  margin: 0 0 10px 0;
  padding: 20px 0 20px 0;
}

.profile-link-container a {
  font-size: 18px;
  color: #FAFBFC;
  margin: 0 0 0 25px;
}

.profile-link-container a:hover {
  color: #666;
}

.info-container {
  margin: 0 0 10px 0;
}

.info {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 20px 0 20px 0;
}

.info.git {
  background-color: #EE7836;
  width: 49.1%;
}

.info.blog {
  background-color: #05B2D2;
  width: 49.1%;
}

.site-container {
  margin: 0 0 10px 0;
}

.site {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 32%;
  padding: 20px 0 20px 0;
}

.site i {
  font-size: 20px;
  color: #25242B;
}

.site.github {
  background-color: #D2D5E8;
}

.site.weibo {
  background-color: #BE8776;
}

.site.steam {
  background-color: #A9A9A8;
}

.blockquote-container {
  padding: 20px 0 0 0;
}

.blockquote {
  padding: 20px 30px;
  background-color: #111;
}

.blockquote p {
  margin: 0 0 12px 0 !important;
}

.blockquote .text {
  font-family: "Arial Black";
  font-size: 21px;
  color: #E8E8E8;
}

.blockquote .author {
  font-size: 14px;
  font-style: italic;
  color: #BEBEBE;
}

.blockquote .location {
  font-size: 11px;
  line-height: 13px;
  font-style: italic;
  color: #A4A4A4;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}