.starter-container {
  margin: 0 0 21px 0;
  text-align: center;
  font-size: 27px;
  color: #CC5A7B;
}

.profile-arrow {
  animation: blink 1.2s infinite linear;
  -moz-animation: blink 1.2s infinite linear;
  /* Firefox */
  -webkit-animation: blink 1.2s infinite linear;
  /* Safari 和 Chrome */
  -o-animation: blink 1.2s infinite linear;
  /* Opera */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}