{{ define "archives" }}
  <link href="/assets/stylesheets/archives.css" rel="stylesheet">

  <div class="tag-container">
    {{ range $_, $tag := .rawData.Tags }}
      <div class="tag-link">
        <a href="/archives?tag={{$tag}}">{{$tag}}</a>
      </div>
    {{ end }}
  </div>

  <div class="post-container">
    {{ range $_, $title := .titles }}
      <div class="post-link">
        <a href="/post/{{$title}}">{{$title}}</a>
      </div>
    {{ end }}
  </div>

{{ end }} 