<!DOCTYPE html>
<html style="margin: 0; padding: 0; height: 100%">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ .meta }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ .title }} </title>
    <link rel="shortcut icon" type="image" href="/assets/favicon.png">
    <link href="/assets/built.css" rel="stylesheet">
</head>

<body style="height: 100%">
    <div class="flex justify-center min-h-full w-screen font-serif">
        <div class="min-h-full w-full px-6 lg:w-5/12 lg:px-0">
            <div class="flex justify-between py-12">
                <div>
                    <p class="inline-block">Life of xhu</p>
                    <a class="inline-block underline text-xl text-gray-500" href="/">
                        ≫
                    </a>
                </div>
                <div>
                    <a class="underline" href="/tags">Tags</a>
                    <a class="underline ml-3" href="https://xhu.me" target="_blank">About</a>
                </div>
            </div>

            {{ if eq .page "index" }}
                {{ template "index" . }}
            {{ else if eq .page "post" }}
                {{ template "post" . }}
            {{ else if eq .page "tags" }}
                {{ template "tags" . }}
            {{ else }}
                {{ template "error" . }}
            {{ end }}
        </div>
    </div>
</body>

</html>