{{ define "home" }}
  <link href="/assets/stylesheets/home.css" rel="stylesheet">
<!--
  <div class="ui pagination menu">
    {{ range $index := .pages}}
      <a class="item" href="/page/{{$index}}">
        {{ $index }}
      </a>
    {{ end }}
  </div>-->
  <div class="snippet-container starter">
    Programming articles
    <i class="angle right icon"></i>
  </div>

  {{ range $_, $title := .titles }}
    {{ $post := index $.posts $title }}
    <div class="snippet-container">
      <a class="snippet-header" href="/post/{{$title}}">{{$title}}</a>

      <div class="ui divider snippet-divider"></div>

      <div class="snippet-content">
        {{ $post.Content }}
      </div>

      <div class="snippet-footer">
        <div class="tags">
          {{ $post.Tags }}
        </div>
        <div class="date">
          {{ $post.Date }}
        </div>
      </div>
    </div>
  {{ end }}

  <script src="/assets/javascripts/home.js"></script>
{{ end }} 