{{ define "layout" }}

  <html>
    <head>
      <title>{{ .pageTitle }}</title>
      <link rel="shortcut icon" type="image" href="/assets/images/x-billabong.png">
      <link href="http://cdn.bootcss.com/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway" rel="stylesheet">
      <link href="http://cdn.bootcss.com/highlight.js/9.7.0/styles/tomorrow.min.css" rel="stylesheet">
      <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
      {{ if .prd }}
        <link href="/assets/dist/all.min.css" rel="stylesheet">
      {{ else }}
        <link href="/assets/stylesheets/layout.css" rel="stylesheet">
        <link href="/assets/stylesheets/content.css" rel="stylesheet">
      {{ end }}
    </head>
    <body>
      <div class="profile">
        {{ template "profile" . }}
      </div>

      <div class="list">
        {{ template "list" . }}
      </div>

      <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
      <script src="http://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script src="http://cdn.bootcss.com/semantic-ui/2.2.4/semantic.min.js"></script>
      {{ if not .prd }}
        <script src="/assets/javascripts/util.js"></script>
      {{ end }}

      <div class="content">
        {{ if .homePage }}
          {{ template "home" . }}
        {{ end }}

        {{ if .postPage }}
          {{ template "post" . }}
        {{ end }}

        <div class="footer">
          <p>
            Copyright © 2016 -&nbsp;
            <a href="mailto:hxtheone@gmail.com">xhu</a>
            &nbsp;- Powered by&nbsp;
            <a target="_blank" href="https://github.com/gin-gonic/gin">Gin</a>,
            <a target="_blank" href="http://jquery.com/">jQuery</a>,
            <a target="_blank" href="https://daneden.github.io/animate.css/">Animate.css</a>,
            <a target="_blank" href="http://semantic-ui.com/">Semantic UI</a>
          </p>
        </div>
      </div>

      <div id="btt-container">
        <div id="back-to-top"></div>
      </div>

      <script src="http://cdn.bootcss.com/highlight.js/9.7.0/highlight.min.js"></script>

      {{ if .prd }}
        <script src="/assets/dist/all.min.js"></script>
      {{ else }}
        <script src="/assets/javascripts/layout.js"></script>
      {{ end }}
    </body>
  </html>

{{ end }}