{{ define "list" }}
  {{ if not .prd }}
    <link href="/assets/stylesheets/list.css" rel="stylesheet">
  {{ end }}

  {{ range $_, $title := .titles }}
    {{ $post := index $.posts $title }}
    {{ if $post}}
      <div class="item-container">
        <div class="item-title">
          <a href="/post/{{$title}}">{{$title}}</a>
        </div>

        <div class="item-tags">
          {{ range $i, $Tag := $post.Tags }}
            {{ if $i }}
              <div class="tag-divider"></div>
            {{ end }}
            <a href="/archives?tag={{$Tag}}">{{ $Tag }}</a>
          {{ end }}
        </div>

        <div class="item-date">
          {{ $post.ShowDate }}
        </div>
      </div>
      <div class="ui divider item-divider"></div>
    {{ end }}
  {{ end }}

  {{ if not .prd }}
    <script src="/assets/javascripts/list.js"></script>
  {{ end }}
{{ end }} 