{{ define "post" }}

<link href="//lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/highlight.js/9.12.0/styles/tomorrow.min.css" type="text/css"
    rel="stylesheet" />

<style>
    ol, ul {
        padding: 10px 40px;
        margin: 0;
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: circle;
    }

    #content {
        letter-spacing: .2px;
        font-size: 15px;
        color: #555;
        padding-bottom: 50px;
    }

    #content h1,
    #content h2,
    #content h3,
    #content h4,
    #content h5,
    #content h6 {
        margin: 20px 0 15px;
        font-weight: 500;
        color: #646464 !important;
    }

    #content p {
        line-height: 2.4rem;
    }

    #content li {
        line-height: 1.5rem;
    }

    #content blockquote {
        padding: 15px 0 15px 15px;
        margin: 18px 0;
        border-left: 5px solid #D1D0CE;
        line-height: 28px;
        font-weight: normal;
        font-size: 15px;
        font-style: italic;
        color: #696969;
    }

    #content img {
        max-width: 100%;
    }

    #content a {
        color: #4183c4;
        text-decoration: none;
    }

    #content hr {
        border: 0;
        color: #ddd;
        background-color: #ddd;
        height: 2px;
        margin: 1rem 0;
    }

    #content code {
        display: inline;
        word-wrap: break-word;
        font-size: 14px;
        color: rgb(85, 85, 85);
        background: rgb(255, 255, 255);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(221, 221, 221);
        border-image: initial;
        border-radius: 4px;
        padding: 1px 3px;
        margin: -1px 1px 0px;
    }

    #content pre code {
        display: block;
        font-size: 11.8px;
        line-height: 18px;
        font-weight: 12px;
        letter-spacing: .5px;
        margin: 10px 0;
        padding: 15px !important;
        background-color: #f7f7f7 !important;
        border-width: 0;
    }
</style>

<p class="text-center text-4xl font-sans text-gray-600 px-6 pt-16 pb-6">
    {{ .post.Title }}
</p>


<div class="pt-6 pb-8 text-center">
    <p class="inline-block min-w-min">{{ formatFullTime .post.Time }}</p>
    {{ range $tag := .post.Tags }}
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a class="inline-block text-cyan-700 bg-cyan-50 my-2 px-2 rounded-lg" href="/?tag={{ $tag }}">
            #{{ $tag }}
        </a>
    {{ end }}
</div>

<div id="content">
    {{ .post.ContentHTML }}
</div>

<script src="//lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/highlight.js/9.12.0/highlight.min.js"
    type="application/javascript"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ end }}