{{ define "post" }}

  {{ $post := .post }}
  <div class="post-header">
    <a href="/post/{{ $post.Title }}">{{ $post.Title }}</a>
  </div>

  <div class="post-content">
    {{ $post.Content }}
  </div>

  <div class="post-footer">
    {{ $post.Date }}
    {{ $post.Tags }}
  </div>

{{ end }}