{{ define "profile" }}
  {{ if not .prd }}
    <link href="/assets/stylesheets/profile.css" rel="stylesheet">
  {{ end }}

  <div class="profile-container">
    <div class="starter-container">
      Life of xhu
      <i class="angle double right icon profile-arrow"></i>
    </div>

    <div class="links">
      <a href="/">
        <div class="profile-link-container">
          Home
        </div>
      </a>
      <a target="_blank" href="http://xhu.me">
        <div class="profile-link-container">
          Aboutme
        </div>
      </a>
    </div>
  </div>

  <div class="info-container">
    <div class="info git"> 65 repos </div>
    <div class="info blog"> 87 posts </div>
  </div>

  <div class="site-container">
    <a target="_blank" href="https://github.com/MrHuxu">
      <div class="site github">
        <i class="github icon"></i>
      </div>
    </a>
    <a target="_blank" href="http://weibo.com/u/2058722335">
      <div class="site weibo">
        <i class="weibo icon"></i>
      </div>
    </a>
    <a target="_blank" href="http://steamcommunity.com/profiles/76561198096059450/">
      <div class="site steam">
        <i class="steam icon"></i>
      </div>
    </a>
  </div>

  <div class="blockquote-container">
    <div class="blockquote">
      <p class="text">
        I PRAY TO MYSELF, FOR MYSELF.
      </p>
      <p class="author">
        Frank J Underwood
      </p>
      <p class="location">
        "House of Cards" <br />
        Season 1, Episode 10
      </p>
    </div>
  </div>

{{ end }} 