
.home-item > .year {
  color: #BBB;
  margin: 10px 0 20px 17px;
}

.home-item-content {
  padding: 10px 0 10px 0;
  height: 50px;
}

.home-item-content > .date, .home-item-content > .link {
  vertical-align: top;
  display: inline-block;
}

.home-item-content > .date {
  color: #888;
}

.home-item-content > .link {
  margin: 0 0 0 20px;
  color: #666;
  font-size: 18px;
  text-decoration: underline;
}

.home-append {
  margin: 60px 0 30px -2px;
}

.home-append .load-more {
  text-align: center;
  width: 160px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #666;
  border: 1px solid #DADADA;
  background: #FFF;
  padding: 10px;
  cursor: pointer;
}

.home-append .load-more:hover {
  background: #EEE;
}
