html, body {
  background-color: #ffffff;
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

a:hover {
  color: #3B94C0;
}

.menu {
  position: fixed;
  width: 14%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 60px 0 0 0;
  text-align: center;
}

.logo {
  z-index: 900;
}

.logo img {
  height: 40px;
}

.links {
  margin: 36px 0 0 0;
}

.links > div {
  text-align: center;
  margin: 25px 0 0 0;
}

.links a {
  vertical-align: top;
  font-size: 18px;
  color: rgba(136, 136, 136, 0);
}

.links a:hover {
  color: #666;
}

#container {
  width: 800px;
  padding: 20px 0 0 0;
  margin-left: calc((100% - 800px) / 2);
  min-height: calc(100% - 80px);
}

#btc-container {
  position: fixed;
  right: -20px;
  bottom: 70px;
}

#back-to-top {
  display: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-indent: 100%;
  margin: 0 0 0 -3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background: rgba(87, 218, 178, 0.8) url(/assets/images/cd-top-arrow.svg) no-repeat center 50%;
}

#back-to-top:hover {
  background: rgba(87, 218, 178, 0.6) url(/assets/images/cd-top-arrow.svg) no-repeat center 50%;
}

.footer {
  background-color: #FFFEEC;
  height: 80px;
  padding: 22px 0 0 0;
  text-align: center;
  color: #444444;
}

.footer * {
  opacity: 0.8;
  font-family: 'Lato', sans-serif;
}

.title {
  margin: 0 0 20px 0;
  font-size: 18px;
}

.snippet-arrow {
  cursor: pointer;
  animation: blink 1.2s infinite linear;
  -moz-animation: blink 1.2s infinite linear;
  -webkit-animation: blink 1.2s infinite linear;
  -o-animation: blink 1.2s infinite linear;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}