{{ define "home" }}
  {{ if not .prd }}
    <link href="/assets/stylesheets/home.css" rel="stylesheet">
  {{ end }}

  <div class="home-container">
    {{ $years := initYears }}

    {{ range $i, $title := .titles }}
      {{ $post := index $.posts $title }}

      <div class="home-item">
        {{ $renderYear := shouldRenderYear $years $post.ShowDate }}

        {{ if $renderYear }}
          {{ $year := getYear $post.ShowDate }}
          <div class="year" id="{{ $year }}"> /* {{ $year }} */ </div>
        {{ end }}

        <div class="home-item-content">
          <div class="date">
            {{ removeYear $post.ShowDate }}
          </div>
          <a class="link" href="/post/{{ $title }}">{{ $title }}</a>
        </div>
      </div>
    {{ end }}

    <div class="home-append">
      <div class="home-item">
        <div class="home-item-container-left"></div>
        <div class="home-item-container-right">
          <div class="load-more"> More </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $maxPostSeq = {{ .maxPostSeq }};
  </script>

  {{ if not .prd }}
    <script src="/assets/javascripts/home.js"></script>
  {{ end }}
{{ end }} 