{{ define "layout" }}

  <html>
    <head>
      <title>{{ .pageTitle }}</title>
      <link rel="shortcut icon" type="image" href="/assets/images/x-billabong.png">
      <link href="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway" rel="stylesheet">
      <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/tomorrow.min.css" rel="stylesheet">
      <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
      {{ if .prd }}
        <link href="/assets/dist/all.min.css" rel="stylesheet">
      {{ else }}
        <link href="/assets/stylesheets/layout.css" rel="stylesheet">
        <link href="/assets/stylesheets/content.css" rel="stylesheet">
      {{ end }}
    </head>
    <body>
      <div class="menu">
        <div class="logo">
          <a href="/">
            <img src="/assets/images/xhu-billabong.png" />
          </a>
        </div>

        <div class="links">
          <div><a href="/">Home</a></div>
          <div><a href="/archives">Archives</a></div>
          <div><a target="_blank" href="http://xhu.me">Aboutme</a></div>
        </div>
      </div>

      <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script src="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js"></script>
      {{ if not .prd }}
        <script src="/assets/javascripts/util.js"></script>
      {{ end }}

      {{ if .homePage }}
        {{ template "home" . }}
      {{ end }}

      {{ if .archivesPage }}
        {{ template "archives" . }}
      {{ end }}

      {{ if .postPage }}
        {{ template "post" . }}
      {{ end }}

      <div id="btc-container">
        <div id="back-to-top"></div>
      </div>
      <div class="footer">
        <p>
          Copyright © 2018 -&nbsp;
          <a href="mailto:hxtheone@gmail.com">xhu</a>
          &nbsp;- Powered by&nbsp;
          <a target="_blank" href="https://github.com/gin-gonic/gin">Gin</a>,
          <a target="_blank" href="http://jquery.com/">jQuery</a>,
          <a target="_blank" href="https://daneden.github.io/animate.css/">Animate.css</a>,
          <a target="_blank" href="http://semantic-ui.com/">Semantic UI</a>
        </p>
      </div>

      <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>

      {{ if .prd }}
        <script src="/assets/dist/all.min.js"></script>
      {{ else }}
        <script src="/assets/javascripts/layout.js"></script>
      {{ end }}
    </body>
  </html>

{{ end }}