{{ define "post" }}
  {{ if not .prd }}
    <link href="/assets/stylesheets/post.css" rel="stylesheet">
  {{ end }}

  <style>
    .links a {
      color: rgba(136, 136, 136, 1);
    }
  </style>

  <div class="post-container">
    {{ $post := .post }}
    <div class="post-header">
      <h1>
        {{ $post.Title }}
      </h1>
    </div>

    <div class="ui horizontal divider">
      {{ $post.ShowDate }}
      {{ range $_, $tag := $post.Tags }}
        &nbsp;|&nbsp;
        <span class="tag-in-divider">
          <a href="/archives?tag={{ $tag }}">{{ $tag }}</a>
        </span>
      {{ end }}
    </div>

    <div class="post-content">
      {{ $post.Content }}
    </div>

    <div id="disqus_thread"></div>
    <script>
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//xhu.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>

  {{ if not .prd }}
    <script src="/assets/javascripts/post.js"></script>
  {{ end }}
{{ end }}
